
root_locus/.ipynb_checkpoints/rlocus_-checkpoint.ipynb
modelado/tank/.ipynb_checkpoints/tanque_modelo-checkpoint.ipynb
modelado/tank/.ipynb_checkpoints/tank_model-checkpoint.ipynb
modelado/tank/.ipynb_checkpoints/tank_icon-checkpoint.png
modelado/tank/.ipynb_checkpoints/fig2_video_part1-checkpoint.png
modelado/tank/.ipynb_checkpoints/fig1_tank_model-checkpoint.png
.vscode/settings.json
.vscode/ltex.dictionary.es-AR.txt
espacio_estado/maglev/.ipynb_checkpoints/maglev_ss-checkpoint.ipynb
modelado/tank/tanque_modelo.ipynb
